@media only screen and (min-width:1050px) and (max-width:1280px){


    

   body{
       display: grid;
       
       grid-template-columns: 1fr 80vw 1fr;
       grid-template-rows: 10vw 17vw 200vw 10vw;
       grid-template-areas:
       '. header .'
       '. photo .'
       '. main .'
       ' footer footer footer'
       ;
      
   }

   .fade-box{
   
    width:100%;
    height:270vw;
      
    border-top-left-radius:12vw;
    border-top-right-radius: 12vw;
    
	z-index:5;
	background:white;
    animation: anim forwards 3.9s ease-in-out;
    margin-top: 0vw;
    transform-origin: bottom;
    
	
	
}

@keyframes page-animation-btn{
    0%{
      margin-bottom:0vw;
    }
    100%{
      top:0%;
    }
}



@keyframes page-animation{

    0%{
        
     /*height: 311.86vw;*/
    }
  
    100%{
        margin-top:-35vw;
       
    }
    

}







    header{
     
     
        height: 7vw;
        margin-top: 0vw;
     
        grid-area:header;
        justify-content: center;
     
              
        h1{
           
            margin-right: 29vw;
            font-size: 5vw;
            justify-self: center;
        }
        .arrow{
            position: relative;
            font-size: 4vw;
            margin-left: 0vw;
           
        }
    }


    .photo{
        position: relative;
        margin: auto;
        height: 40vw;
        grid-area: photo;
             
    }

    .image{
        margin-top: -9vw;
        position: relative;
        
        width:80vw;
        height:40vw ;
        object-fit:cover;
        transform: translate(0%,0%);
        z-index: -1;
    }



    main{

        #select1{
            position: absolute;
            scale:(7);
            margin-left: 50vw;
            z-index: 2;
            opacity:0;
        
           
            
        }
        .heart{
            position: absolute;
            margin-left: 50vw;
        }
        .heart2{
            position: absolute;
            margin-left: 50vw;
        }
        
      
        position: relative;
        width: 80vw;
        height: 270vw;
        grid-area: main;
        transform: scale(0.7);
       


        .titreRestaurant h2{
            font-size: 4.75vw;
        }

        .entrees h2{
            font-size: 3vw;
        }
        .plats h2{
            font-size: 3vw;
        }
        .desserts h2{
            font-size: 3vw;
        }
        .btn{
            width: 70vw;
            height: 15vw;
            margin-left: 5vw;
            margin-bottom: 4vw;

            .slide:hover > .caption{
                width: 40vw;
                transition: width 700ms 100ms;
                transition-timing-function: ease-in-out;
    
            }

            .caption{
                width: 60vw;
                h4{
                font-size: 3.25vw;
            }
            p{
                font-size:3vw;
            }
            }
            .slide-box{
                margin-left: -20vw;
                .slide-point{
                   
                }
              p{
                  padding-top:11.25vw;
                  font-size: 3vw;

              }
              i{
                  margin-left: -2vw;
                  font-size: 5vw;
              }
                       
        }
            
          
        }

       
    }

    .explorer{
        
    }

    footer{
     
      
        grid-area: footer;
        height: 20vw;
        margin-bottom: -100vw;
       


        h3{
            padding-top: 3vw;
            width: 90vw;
            margin: auto;
            font-family:'Shrikhand';
            font-size:3vw;
            
        }

        ul{
            display:flex;
            font-size: 2vw;
            width: 90vw;
            justify-content: space-between;
            
        }

        li{
            list-style-type: none;
            padding-bottom: 2vw;
        }
       
        .fa-utensils{
            position: relative;
            padding-right: 0.5vw;
            top:-0.2vw;
            font-size:2vw;
        }
        .fa-hands-helping{
            position: relative;
            top: -0.2vw;
            font-size: 2vw;
            padding-right: 0.5vw;
        }

    }

}