@media only screen and (min-width: 1481px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 90vw 1fr;
        grid-template-columns: 1fr 90vw 1fr;
    -ms-grid-rows: 12vw 15vw 15vw 42.5vw 10vw;
        grid-template-rows: 12vw 15vw 15vw 42.5vw 10vw;
        grid-template-areas: ' . header . ' ' . explorer  .' ' . fonctionnement .' ' . main . ' ' footer footer footer ';
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    margin-left: -15vw;
    width: 60vw;
    height: 7vw;
  }
  header .logo {
    width: 30vw;
    height: 5vw;
  }
  .explorer {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: explorer;
    width: 90vw;
    height: 15vw;
    margin: auto;
    background-color: white;
  }
  .explorer .recherche {
    height: 4.63vw;
    width: 30vw;
    margin-left: 0vw;
    margin-bottom: 10.09vw;
  }
  .explorer .recherche input {
    position: absolute;
    height: 4.63vw;
    font-size: 1.7vw;
    margin-left: -9vw;
  }
  .explorer .recherche .fa-map-marker-alt {
    position: absolute;
    margin-left: -17vw;
    line-height: 4.63vw;
    width: 10vw;
    font-size: 3vw;
  }
  .explorer h1 {
    margin-left: -24.25vw;
    margin-top: -7vw;
    width: 90vw;
    font-size: 2.5vw;
  }
  .explorer p {
    margin-left: -19.5vw;
    margin-top: -2vw;
    font-size: 1.7vw;
  }
  .explorer .btn-nav {
    position: absolute;
    width: 10.5vw;
    height: 10.5vw;
    margin-top: -17vw;
    margin-left: 10vw;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .explorer .btn-nav:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .fonctionnement {
    position: relative;
    margin-left: 0vw;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: fonctionnement;
    width: 75vw;
    height: 20vw;
  }
  .fonctionnement h2 {
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .btn {
    margin-left: 1vw;
    width: 20.5vw;
    height: 4.73vw;
    font-size: 1.25vw;
  }
  .btn .btn-link {
    color: black;
    font-weight: 500;
  }
  .btn i {
    font-size: 2vw;
    padding-right: 1.5vw;
    margin-left: -6vw;
  }
  .btn:hover {
    background-color: #ede2fa;
  }
  .btn:hover i {
    color: #9356dc;
  }
  .chiffre {
    position: absolute;
    font-family: 'roboto';
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    background-color: #9356dc;
    border-radius: 50%;
    margin-left: -10vw;
  }
  main {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: main;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    height: 42.5vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main h2 {
    margin-top: -10vw;
    margin-left: 0vw;
    margin-bottom: 2.5vw;
    font-size: 2vw;
  }
  main .item {
    width: 42vw;
    height: 12.5vw;
    margin-bottom: 5vw;
    border-radius: 0.7vw;
    border: 0.25vw solid white;
  }
  main .item .nouveau {
    margin-left: 27vw;
    margin-top: -2vw;
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  main .item #select1 {
    position: absolute;
    scale: 4;
    margin-left: 37.95vw;
    margin-top: 8.5vw;
    z-index: 1;
    opacity: 0;
  }
  main .item .heart {
    margin-left: -56vw;
    margin-top: 13.7vw;
    font-size: 3vw;
  }
  main .item .heart2 {
    margin-left: -55.79vw;
    margin-top: 13.4vw;
  }
  main .item .heart2 .fa-heart {
    font-size: 3vw;
  }
  main .item img {
    width: 19.49vw;
    height: 16vw;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(0vw, -3vw);
            transform: translate(0vw, -3vw);
    border-radius: unset;
  }
  main .item .caption {
    -webkit-transform: translate(17.5vw, -19.5vw);
            transform: translate(17.5vw, -19.5vw);
  }
  main .item .caption h4 {
    padding-top: 0.75vw;
    font-size: 1.5vw;
  }
  main .item .caption p {
    font-size: 1.5vw;
    padding-top: 0.5vw;
  }
  footer {
    height: 10vw;
    position: relative;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  footer h3 {
    font-size: 2.25vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    margin-left: 6.5vw;
  }
  footer ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.25vw;
  }
  footer li {
    padding-left: 9vw;
    padding-top: 0vw;
  }
  footer .fa-utensils {
    position: absolute;
    left: 7vw;
    top: 6vw;
    font-size: 1.5vw;
  }
  footer .fa-hands-helping {
    position: absolute;
    left: 28.25vw;
    top: 6vw;
    font-size: 1.5vw;
  }
}
/*# sourceMappingURL=desktopdesktop.css.map */