@media only screen and (min-width:1153px) and (max-width: 1480px){

   
    body{
      
     
       
        
      
        display: grid;  
        grid-template-columns: 1fr 90vw 1fr; 
        grid-template-rows: 12vw 20vw 20vw 75vw 20vw;
        
        grid-template-areas:
        ' . header . '
        ' . explorer  .'
        ' . fonctionnement .'
        ' . main . '
        ' footer footer footer '
        
    
         ;
    
        
    }
    header{
       
        grid-area: header;
        margin-left:-5vw;
        
        
    
        width: 60vw;
        height: 10vw;
        
        
    }
    .explorer{
        position: relative;
        grid-area: explorer;
        width: 90vw;
        height: 15vw;
        
        margin: auto;
        background-color: white;
      

        .recherche{
            height: 5.63vw;
            width: 60vw;
            margin-left:0vw;
            margin-bottom: 10.09vw;
          

            input{
                position: absolute;
                height: 5.63vw;
                font-size: 2vw;
                margin-left: -20vw;
              
            }

            .fa-map-marker-alt {
                position: absolute;
                margin-left: -30vw;
                margin-top: -2.25vw;
                width: 10vw;
                
                font-size: 3vw;
            }
           
        }
         
          h1{
              margin-left:-20vw;
              margin-top: -7vw;
              width: 90vw;
              font-size: 3vw;
            
          }

          p{
              margin-left: -15vw;
              margin-top: -2vw;
              font-size: 2vw;
          }
          .btn-nav{
            position: absolute;
            width: 12.5vw;
            height: 12.5vw;
            margin-top: -19vw;
            margin-left: 20vw;
            font-size: 1.75vw;
            line-height: 2vw;
            
                     

           
          }
          .btn-nav:hover {
            transform: scale(1.1);
            
        }
         
       
        
        
    }
    .fonctionnement{
        position: relative;
        
        grid-area: fonctionnement;
        width: 90vw;
        height:20vw;
       
    
        h2{
            font-size: 2.75vw;
            margin-top: 2vw;
            margin-bottom: 3vw;
           
        }
    
    }


    .box{
        
        display:flex;
        flex-direction:row;
       
    
      
        
        
    }
    
    .btn {
        
        
        margin-right: 5vw;
        
        
        
       
        width:25vw;
        height: 5.73vw;
       
       
      
        font-size: 1.5vw;
      
       
        
      

        
    
        .btn-link{
            color: black;
            font-weight: 500;
        }

        i{
                    
            font-size: 2vw;
            padding-right: 2vw;
            margin-left: -5vw;
         
          }

          &:hover{
            background-color : #ede2fa;
            i{
             color: #9356dc;
            }
            
          }

       
          
    
    }

    .chiffre{
        position: absolute;
        font-family:'roboto';
        justify-content: center;
        color: white;
        width:4vw;
        height:4vw;
        line-height: 4vw;
        background-color: #9356dc;
        border-radius:50%;
        margin-left:-10vw;
        
    } 
    
    
    main{
       
    

      
        grid-area: main;
        flex-direction: row;
        flex-wrap:wrap;
        margin: auto;
        width: 90vw;
        height: 75vw;
        justify-content: space-around;
    
        h2{
            margin-top:-10vw;
            margin-left:0vw;
            margin-bottom: 5vw;
            font-size: 2.75vw;
        }
    
            
        
        
    
        .item{
            width:40.49vw;
            height:25.48vw;
            margin-bottom: 5vw;
            border-radius: 1.25vw;
    
            .nouveau{
                margin-left: 23.5vw;
                margin-top: -1vw;
                transform: scale(0.4);
                    
                 
                }
    
                #select1{
                    position: absolute;
                    scale:(5);
                    margin-left: 35.7vw;
                    margin-top:20.1vw;
                    z-index: 1;
                    opacity:0;
                    
                }
    
                .heart{
                    
                    margin-left: -40vw;
                    margin-top:6vw;
                    font-size: 3.7vw;
                    
                   
                   
                }
                .heart2{
                  
                    margin-left: -39.9vw;
                    margin-top:5.7vw;
                    .fa-heart{
                        font-size: 3.75vw;
                    }
                   
                }
              
               
    
    
            img{
                width:40.49vw;
                height:27vw;
                object-fit: cover;
                transform: translate(0%,-10vw);
            }
           
            
    
            .caption{
    
                transform: translate(-1vw,-13.5vw);
                h4{
                    padding-top: 0.75vw;
                    font-size:2.25vw;
    
                }
                p{
                    font-size:2.25vw;
                    padding-top: 0.5vw;
                }
    
           
    
            }
            
           
        }
     
    
        
    }
    footer{
        height: 20vw;
        position: relative;
        grid-area: footer;
      
        
       
        
    
        h3{
            font-size:2.75vw;
            padding-top: 3vw;
            padding-bottom: 4vw;
        }
        ul{
            display: inline-flex;
            
           
        
            font-size:1.5vw;
            margin-left:0vw;

            
            
        }
        li{
            padding-left: 8vw;
            padding-top: 0vw;
    
            
        }

        .fa-utensils{
            position: absolute;
          
            left:5vw;
            top:10.5vw;
            font-size: 2.25vw;
        }
        .fa-hands-helping{
            position: absolute;
            left: 27.5vw;
            top:10.5vw;
            font-size: 2.25vw;
            padding-right: 2.25vw;
        }
        
       
       
    }
    
    
    
    }