@media only screen and (min-width: 768px) and (max-width: 1151px) {
  body {
    width: 100vw;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 90vw 1fr;
        grid-template-columns: 1fr 90vw 1fr;
        grid-template-areas: ' . header . ' ' . explorer . ' ' . fonctionnement .' ' . main . ' ' footer footer footer ';
  }
  header {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .explorer {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: explorer;
    height: 60vw;
  }
  .explorer h1 {
    margin-top: -7vw;
    width: 90vw;
    font-size: 5.25vw;
  }
  .explorer .btn-nav {
    margin-top: -3.5vw;
    scale: 0.75;
  }
  .fonctionnement {
    position: relative;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: fonctionnement;
    width: 90vw;
    height: 70vw;
  }
  .fonctionnement h2 {
    font-size: 5vw;
    margin-top: 2vw;
  }
  .btn {
    margin-top: -2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 67.93vw;
    height: 15.73vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8.68vw;
    margin-bottom: 6.27vw;
    font-size: 3.75vw;
    -webkit-transition: 0.7s ease-in-out 0.07s;
    transition: 0.7s ease-in-out 0.07s;
    border-radius: 7vw;
  }
  .btn .btn-link {
    color: black;
    font-weight: 500;
  }
  main {
    position: relative;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: main;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    width: 90vw;
    height: 210vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main h2 {
    margin-top: -10vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
  }
  main .item {
    width: 67.49vw;
    height: 42.47vw;
    margin-bottom: 5vw;
  }
  main .item .nouveau {
    margin-left: 45vw;
    margin-top: 2vw;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  main .item #select1 {
    position: absolute;
    scale: 8;
    margin-left: 57.75vw;
    margin-top: 35.5vw;
    z-index: 1;
    opacity: 0;
  }
  main .item .heart {
    margin-left: -19.5vw;
    margin-top: 2.5vw;
  }
  main .item .heart2 {
    margin-left: -19.5vw;
    margin-top: 2.5vw;
  }
  main .item img {
    width: 67.49vw;
    height: 42.5vw;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(0%, -12.5vw);
            transform: translate(0%, -12.5vw);
  }
  main .item .caption {
    -webkit-transform: translate(-1vw, -15.75vw);
            transform: translate(-1vw, -15.75vw);
  }
  main .item .caption h4 {
    padding-top: 0.75vw;
    font-size: 3.75vw;
  }
  main .item .caption p {
    font-size: 3.75vw;
    padding-top: 0.25vw;
  }
  footer {
    position: relative;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    height: 30vw;
  }
  footer h3 {
    font-size: 3.75;
    padding-top: 3vw;
    padding-bottom: 2vw;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 3.5vw;
    margin-left: 0vw;
  }
  footer li {
    margin-left: 5vw;
    padding-top: 1vw;
  }
  footer .mentions {
    margin-left: 5vw;
  }
  footer .contact {
    margin-left: 20vw;
  }
}
/*# sourceMappingURL=index768.css.map */