@media only screen and (min-width: 1280px) {
  body {
    display: -ms-grid;
    display: grid;
    background-color: white;
    -ms-grid-columns: 1fr 75vw 1fr;
        grid-template-columns: 1fr 75vw 1fr;
    -ms-grid-rows: 7vw 30vw 40vw 10vw;
        grid-template-rows: 7vw 30vw 40vw 10vw;
        grid-template-areas: '. header .' '. photo .' '. main.' ' footer footer footer';
  }
  .fade-box {
    width: 800vw;
    height: 200vw;
    margin-left: -200vw;
    border-top-left-radius: 12vw;
    border-top-right-radius: 12vw;
    z-index: 5;
    background: white;
    -webkit-animation: anim forwards 3.9s ease-in-out;
            animation: anim forwards 3.9s ease-in-out;
    margin-top: 0vw;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  @-webkit-keyframes page-animation-btn {
    0% {
      margin-bottom: 0vw;
    }
    100% {
      top: 0%;
    }
  }
  @keyframes page-animation-btn {
    0% {
      margin-bottom: 0vw;
    }
    100% {
      top: 0%;
    }
  }
  @-webkit-keyframes page-animation {
    0% {
      /*height: 311.86vw;*/
    }
    100% {
      margin-top: -35vw;
    }
  }
  @keyframes page-animation {
    0% {
      /*height: 311.86vw;*/
    }
    100% {
      margin-top: -35vw;
    }
  }
  header {
    height: 7vw;
    margin-top: 0vw;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin-right: 31vw;
    font-size: 3.25vw;
  }
  header .arrow {
    position: relative;
    font-size: 3vw;
    margin-left: 0vw;
  }
  .photo {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 75vw;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: photo;
    margin-left: 0vw;
  }
  .image {
    margin-top: -9vw;
    position: relative;
    width: 75vw;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    z-index: -1;
  }
  main {
    background-color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 30vw 75vw 10vw;
        grid-template-rows: 30vw 75vw 10vw;
        grid-template-areas: '  restaurant restaurant restaurant ' ' entrees plats desserts ' ' explorer explorer explorer';
    position: relative;
    width: 100%;
    height: 75vw;
    grid-area: main;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  main #select1 {
    position: absolute;
    scale: 12;
    margin-top: 1.5vw;
    margin-left: 15vw;
    z-index: 2;
    opacity: 0;
  }
  main #select1:hover ~ .heart2 .fa-heart {
    opacity: 1;
    background-clip: text;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9vw;
    -webkit-transition: opacity 350ms ease-in-out;
    transition: opacity 350ms ease-in-out;
  }
  main .heart {
    position: absolute;
    margin-top: -3.75vw;
    margin-left: 15vw;
    font-size: 9vw;
  }
  main .heart2 {
    position: absolute;
    margin-top: -3.75vw;
    margin-left: 15vw;
    font-size: 9vw;
  }
  main .titreRestaurant h2 {
    margin-top: -7vw;
    font-size: 12vw;
    margin-left: -55vw;
  }
  main .restaurant {
    background-color: #F2F2F2;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: restaurant;
    border-top-left-radius: 20vw;
    border-top-right-radius: 20vw;
  }
  main .entrees {
    margin-top: 0vw;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: entrees;
    height: 75vw;
    background-color: #F2F2F2;
  }
  main .plats {
    background-color: #F2F2F2;
    height: 75vw;
    margin-top: 0vw;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: plats;
  }
  main .desserts {
    background-color: #F2F2F2;
    height: 75vw;
    margin-top: 0vw;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: desserts;
  }
  main .explorer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: explorer;
  }
  main .explorer .btn-nav {
    margin-left: 110vw;
  }
  main .entrees h2 {
    font-size: 3vw;
  }
  main .plats h2 {
    font-size: 3vw;
  }
  main .desserts h2 {
    font-size: 3vw;
  }
  main .btn {
    width: 70vw;
    height: 15vw;
    margin-left: 5vw;
    margin-bottom: 4vw;
  }
  main .btn .slide:hover > .caption {
    width: 40vw;
    -webkit-transition: width 700ms 100ms;
    transition: width 700ms 100ms;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  main .btn .caption {
    width: 60vw;
  }
  main .btn .caption h4 {
    font-size: 3.25vw;
  }
  main .btn .caption p {
    font-size: 3vw;
  }
  main .btn .slide-box {
    margin-left: -20vw;
  }
  main .btn .slide-box p {
    padding-top: 11.25vw;
    font-size: 3vw;
  }
  main .btn .slide-box i {
    margin-left: -2vw;
    font-size: 5vw;
  }
  footer {
    z-index: 2;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    height: 10vw;
  }
  footer h3 {
    padding-top: 1vw;
    width: 90vw;
    margin: auto;
    font-family: 'Shrikhand';
    font-size: 2vw;
    margin-bottom: -2vw;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1vw;
    width: 90vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: -6.25vw;
  }
  footer li {
    list-style-type: none;
    padding-bottom: 0.25vw;
  }
  footer .fa-utensils {
    position: relative;
    padding-right: 0.5vw;
    top: -0.2vw;
    font-size: 1vw;
  }
  footer .fa-hands-helping {
    position: relative;
    top: -0.2vw;
    font-size: 1vw;
    padding-right: 0.5vw;
  }
}
/*# sourceMappingURL=menu+1280px.css.map */