@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Shrikhand';
  src: url("./Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("./Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'coeur';
  src: url("./coeur/coeur1.ttf");
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto';
  overflow-x: hidden;
}

/* début de l'entête */
header {
  height: 9vw;
  line-height: 9vw;
  background: white;
  margin-top: 2.90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.75vw;
  z-index: 2;
}

header .logo {
  width: 45vw;
  height: 9vw;
  border: solid 1vw red;
}

header a {
  text-decoration: none;
}

header h1 {
  font-family: 'Shrikhand';
  font-size: 8vw;
  color: black;
  line-height: 9vw;
}

header .arrow {
  position: absolute;
  width: 100vw;
  margin-left: 10vw;
  line-height: 9vw;
  font-size: 6vw;
  color: black;
}

.photo {
  width: 100vw;
  height: 92.5vw;
  overflow: hidden;
}

.image {
  margin-top: -9vw;
  position: relative;
  width: 100vw;
  height: 92.5vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  z-index: -1;
}

/* fin de l'entête*/
/*début de la partie explorer avec la boite de recherche 
    les titres et le bouton "explorer nos restaurants*/
.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F2F2;
}

/* boite de recherche */
.recherche {
  height: 13.63vw;
  background-color: #eaeaea;
  background: -webkit-gradient(linear, left bottom, left top, from(#eaeaea), color-stop(95%), to(#cfcfcf));
  background: linear-gradient(to top, #eaeaea, 95%, #cfcfcf);
  margin-bottom: 10.09vw;
  /*icon de position*/
  /* saisie de recherche */
}

.recherche .fa-map-marker-alt {
  color: black;
  margin-left: 0vw;
  width: 10vw;
  line-height: 10vw;
  font-size: 4.5vw;
}

.recherche input {
  width: 35vw;
  line-height: 12.59vw;
  font-size: 4vw;
  font-weight: bold;
  background-color: #eaeaea;
  background: -webkit-gradient(linear, left bottom, left top, from(#eaeaea), color-stop(95%), to(#cfcfcf));
  background: linear-gradient(to top, #eaeaea, 95%, #cfcfcf);
  border: solid 0vw;
}

/*fin de partie recherche*/
/* partie consacrée aux titres et sous titres*/
.titre {
  width: 65vw;
  margin: auto;
  font-size: 6.45vw;
  font-weight: bold;
  text-shadow: 0.25vw 0.25vw 0.25vw #7d7d7d;
  margin-bottom: 3vw;
}

.sousTitre {
  width: 90vw;
  font-size: 4.75vw;
  font-weight: normal;
  text-shadow: unset;
  color: #7d7d7d;
  margin-bottom: 8.09vw;
}

.titreRestaurant {
  margin-top: 33.25vw;
  font-size: 7vw;
  margin-left: -5vw;
  rotate: -0.3deg;
}

/*fin des titres*/
/* Bouton principal d'exploration et de commande*/
.btn-nav {
  border: none;
  margin: auto;
  width: 57.79vw;
  height: 13.3vw;
  font-size: 4.25vw;
  -webkit-box-shadow: 0.5vw 0.5vw 1.25vw #7d7d7d;
          box-shadow: 0.5vw 0.5vw 1.25vw #7d7d7d;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  /*transition:0.7s ease-in-out;*/
  -webkit-transition: opacity 700ms, -webkit-transform 1000ms ease-in-out;
  transition: opacity 700ms, -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, opacity 700ms;
  transition: transform 1000ms ease-in-out, opacity 700ms, -webkit-transform 1000ms ease-in-out;
  border-radius: 10vw;
}

.btn-link {
  text-decoration: none;
  color: white;
}

.btn-nav:hover {
  /* width: 58.29vw; 
            line-height:13.80vw; 
            font-size:4.30vw;   
            box-shadow:1.75vw 1.75vw 2vw #7d7d7d;*/
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0.95vw 0.95vw 1.95vw #3d3d3d;
          box-shadow: 0.95vw 0.95vw 1.95vw #3d3d3d;
}

.slide-point {
  position: absolute;
  margin-left: 80vw;
  -webkit-transform: translate(0vw);
          transform: translate(0vw);
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 15vw;
  height: 19.73vw;
  background-color: white;
  font-family: 'Roboto';
  padding-left: 2vw;
}

.slide-point p {
  font-weight: bold;
  padding-top: 11vw;
  margin-left: -3.63vw;
}

.slide-check {
  position: relative;
  margin-left: 92.93vw;
  width: 15.76vw;
  height: 20vw;
  line-height: 20vw;
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
}

.slide-tarif {
  position: absolute;
  margin-left: 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 80vw;
  height: 19.73vw;
  -webkit-transform: scale(1);
          transform: scale(1);
  /* background-color: blue;*/
  opacity: 0.6;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-slide-up {
  position: absolute;
  margin-left: 80vw;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 15vw;
  height: 9.865vw;
  background-color: white;
  opacity: 1;
}

.box-slide-up p {
  padding-top: 3.3vw;
  font-size: 5vw;
  display: block;
  text-align: left;
}

.box-slide-down {
  position: absolute;
  margin-left: 80vw;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  width: 20vw;
  height: 9.865vw;
  -webkit-transform: translate(0, 10vw);
          transform: translate(0, 10vw);
  background-color: white;
  opacity: 1;
}

.box-slide-down p {
  padding-top: 0.3vw;
  font-size: 4.75vw;
  display: block;
  text-align: left;
}

/*  .slide-move{
           
           background: none;
           width: 85vw;
           height: 19.73vw;
       }*/
.slide {
  position: absolute;
  width: 92.93vw;
  height: 19.73vw;
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.slide:hover {
  /*animation: slide-left 2s ease-in-out alternate forwards;*/
  -webkit-transform: translate(-15.76vw);
          transform: translate(-15.76vw);
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.slide:hover > .box-slide-up {
  -webkit-transform: translate(-14vw);
          transform: translate(-14vw);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  font-size: 10vw;
  -webkit-transition-delay: 0.33s;
          transition-delay: 0.33s;
  /* animation: slide-p forwards;
            animation-delay: 0.3s;*/
}

.slide:hover > .box-slide-down {
  -webkit-transform: translate(-14vw, 9.865vw);
          transform: translate(-14vw, 9.865vw);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  -webkit-transition-delay: 0.33s;
          transition-delay: 0.33s;
  /* animation: slide-p forwards;
         animation-delay: 0.3s;*/
}

.check-move {
  height: 20vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-move .fa-check-circle {
  position: relative;
  rotate: 0deg;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  color: white;
  z-index: 1;
  font-size: 6vw;
}

.slide:hover > .slide-check .fa-check-circle {
  -webkit-animation: rotation 1200ms;
          animation: rotation 1200ms;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*fin du bonton .btn-nav*/
/* début de la partie fonctionnenment*/
.fonctionnement {
  position: absolute;
  width: 91.03vw;
  height: 104.738vw;
  margin: auto;
}

.fonctionnement h2 {
  margin-top: 12.75vw;
  font-size: 6.45vw;
  margin-bottom: 6.27vw;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 100vw;
  margin: auto;
}

section .titreMenu {
  margin-left: 5vw;
  width: 12.5vw;
  border-bottom: 1vw solid #99e2d0;
  font-size: 5vw;
  color: black;
  font-weight: normal;
  padding-bottom: 1vw;
  margin-bottom: 3vw;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 92.93vw;
  height: 19.73vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 6.27vw;
  font-size: 4.25vw;
  -webkit-box-shadow: 0.5vw 0.5vw 1.25vw #7d7d7d;
          box-shadow: 0.5vw 0.5vw 1.25vw #7d7d7d;
  background-color: white;
  -webkit-transition: 0.7s ease-in-out 0.07s;
  transition: 0.7s ease-in-out 0.07s;
  border-radius: 3.5vw;
  /*  i{
                    
                    font-size: 6.25vw;
                    padding-right: 6.27vw;
                    color: $iconBtnLink;
                  }*/
}

.btn .caption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Roboto';
  width: 95vw;
  height: 19.73vw;
  -webkit-transform: translate(0vw, 0);
          transform: translate(0vw, 0);
}

.btn .caption h4 {
  padding-top: 2vw;
  padding-left: 2.71vw;
  display: block;
  text-align: left;
  font-size: 4.6vw;
}

.btn .caption p {
  display: block;
  text-align: left;
  padding-bottom: 2vw;
  padding-left: 2.71vw;
  font-weight: normal;
  font-size: 3.75vw;
}

.btn .slide-point p {
  display: block;
  text-align: left;
  padding-bottom: 2vw;
  padding-left: 2.71vw;
  font-size: 4vw;
}

.btn .captionCheck {
  width: 35vw;
  height: 19.73vw;
  -webkit-transform: translate(60vw, 0);
          transform: translate(60vw, 0);
}

.btn .btn-link {
  color: black;
  font-weight: 500;
}

.chiffre {
  font-family: 'roboto';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  background-color: #9356dc;
  border-radius: 50%;
  margin-right: 6vw;
  margin-left: -13vw;
}

main {
  border-top-left-radius: 12vw;
  border-top-right-radius: 12vw;
  z-index: 1;
  margin-top: -33.25vw;
  width: 100vw;
  height: 331.86vw;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vw;
  padding-left: 0vw;
  font-family: 'Shrikhand';
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main h2 {
  padding-top: 10vw;
  width: 88.98vw;
  font-size: 6.5vw;
  margin: auto;
}

.item {
  width: 88.98vw;
  height: 66.94vw;
  overflow: hidden;
  border: 0.5vw solid white;
  background: white;
  border-radius: 5vw;
  margin: auto;
  /*
        img{
            border-top-left-radius: 5vw;
            border-top-right-radius: 5vw;
            width:100%;
            height:61.61vw ;
            object-fit:cover;
            transform: translate(0%,-15vw);
          
           
        }
        .caption{
            width: 100.1%;
            height:20.33vw;
            color:$captionColor;
           
            
            border-bottom-left-radius: 5vw;
            border-bottom-right-radius: 5vw;
            padding-top: 3.25vw;
            
        h4{
            font-size: 5vw;
            margin-left: -5vw;
            
        }   
        p{
            padding-top: 1vw;
            font-size: 4.5vw;
            justify-content: left;
            
        }
    
        } */
}

.item .nouveau {
  position: absolute;
  width: 21.5vw;
  height: 7.5vw;
  z-index: 1;
  font-size: 3.7vw;
  background: #99e2d0;
  color: #008766;
  text-shadow: #4cb49b;
  border-radius: 0.5vw;
  text-align: center;
  line-height: 7.5vw;
  -webkit-transform: translate(64.5vw, 4vw);
          transform: translate(64.5vw, 4vw);
}

.item .heart {
  position: absolute;
  overflow: hidden;
  font-weight: normal;
  font-size: 6.7vw;
  -webkit-transform: translate(72.25vw, -11vw);
          transform: translate(72.25vw, -11vw);
}

.item .heart .fa-heart {
  color: red;
}

.item .heart #select1:checked ~ .fa-heart {
  color: green;
}

.item .heart2 {
  position: absolute;
  font-weight: normal;
  -webkit-transform: translate(72.08vw, -10.75vw);
          transform: translate(72.08vw, -10.75vw);
}

.item .heart2 .fa-heart {
  background-clip: text;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7vw;
  opacity: 0;
  scale: 1;
  -webkit-transition: opacity 150ms, scale 200ms ease-in-out;
  transition: opacity 150ms, scale 200ms ease-in-out;
  /*&:hover{
                scale:1;
                opacity: 0;
                z-index: 1;
                transition: all 100ms ease-in-out; 
            }*/
}

.item .heart2 .fa-heart:active {
  scale: 1.03;
  opacity: 1;
  z-index: 1;
}

footer {
  width: 100vw;
  height: 51.69vw;
  color: white;
  background: #222020;
}

footer h3 {
  padding-top: 5vw;
  width: 90vw;
  margin: auto;
  font-family: 'Shrikhand';
  font-size: 5vw;
  padding-bottom: 5vw;
}

footer ul {
  font-size: 4.5vw;
  width: 90vw;
  margin: auto;
}

footer li {
  list-style-type: none;
  padding-bottom: 2vw;
}

footer .fa-utensils {
  position: relative;
  padding-right: 3vw;
  top: -0.3vw;
  font-size: 3.75vw;
}

footer .fa-hands-helping {
  position: relative;
  top: -0.3vw;
  font-size: 3vw;
  padding-right: 2.25vw;
}
/*# sourceMappingURL=noteenchantee.css.map */