* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  @font-face{
    font-family:'Shrikhand';
    src: url('./Shrikhand/Shrikhand-Regular.ttf');
    
      
  }

  @font-face {
    font-family:'Roboto';
    src: url('./Roboto/Roboto-Medium.ttf');
   
}

    @font-face{
        font-family: 'coeur';
        src: url('./coeur/coeur1.ttf')
    }

$mainBckColor:#F2F2F2;
$searchBckColor:#eaeaea;
$searchGrdBckColor:linear-gradient(to top,#eaeaea,95%,#cfcfcf);
$textShadowTitre:#7d7d7d;
$colorTextSousTitre:#7d7d7d;
$boxShadowNavBtn:#7d7d7d;
$colorIconPos:black;
$btnGrdBckColor:linear-gradient(to bottom right,#FF79DA,#9356DC);
$BtnLinkNav: white;
$boxShadowBtnNavHover:#3d3d3d;
$iconBtnLink:grey;
$itemBorder:white;
$itemBck:white;
$captionColor:Black;
$footerBck: rgb(34, 32, 32);
$footerColor:white;


body{
    width:100%;
    margin:auto;
    font-family:'Roboto';
    overflow-x: hidden;
} 

  
    /* début de l'entête */
    header{
        height: 9vw;
        line-height: 9vw;
        background: white;
        margin-top: 2.90vw;
        display: flex;
        justify-content:center;
        margin-bottom:2.75vw ;
        z-index: 2;
             
        .logo{
            width: 45vw;
            height: 9vw;
            border: solid 1vw red;
        }

        a{
            text-decoration: none;
        }

        h1{
            font-family:'Shrikhand';
            font-size: 8vw;
            color: black;
            line-height: 9vw;
        }
        
        .arrow{
            position: absolute;
            width: 100vw;
            margin-left: 10vw;
            line-height:9vw;
            font-size: 6vw;
            color: black;
        }
    }
    

     .photo{
        width: 100vw;
        height: 92.5vw;
        overflow: hidden;
    }
    .image{
        margin-top: -9vw;
        position: relative;
        
        width:100vw;
        height:92.5vw ;
        object-fit:cover;
        transform: translate(0%,0%);
        z-index: -1;
    

     
       
    }
    /* fin de l'entête*/

    /*début de la partie explorer avec la boite de recherche 
    les titres et le bouton "explorer nos restaurants*/
    .explorer{
        display: flex;
        width: 100vw;
        height: 50vw;
        justify-content: center;
        background-color:$mainBckColor;
        
    } 
    /* boite de recherche */
    .recherche{
        height: 13.63vw;
        background-color:$searchBckColor;
        background: $searchGrdBckColor;
        margin-bottom: 10.09vw;

/*icon de position*/ 
        .fa-map-marker-alt {
            color:$colorIconPos;
            margin-left: 0vw;
            width: 10vw;
            line-height: 10vw;
            font-size: 4.5vw;
        }
/* saisie de recherche */
            input{
                width: 35vw;
                line-height: 12.59vw;
                font-size: 4vw;
                font-weight:bold;
                background-color:$searchBckColor;
                background:$searchGrdBckColor;
                border: solid 0vw;
            }
    }
    /*fin de partie recherche*/

    /* partie consacrée aux titres et sous titres*/     
    .titre{
        
        width:65vw;
        margin: auto;
        font-size: 6.45vw;
        font-weight:bold;
        text-shadow:0.25vw 0.25vw 0.25vw $textShadowTitre;
        margin-bottom: 3vw;
    }

    .sousTitre{
        width:90vw;
        font-size: 4.75vw;
        font-weight:normal;
        text-shadow:unset;
        color:$colorTextSousTitre;
        margin-bottom:8.09vw; 
       
    }

    .titreRestaurant{
        margin-top: 33.25vw;
        font-size: 7vw;
        margin-left:-5vw;
        rotate: (-0.3deg);
    }
    /*fin des titres*/

    /* Bouton principal d'exploration et de commande*/
    .btn-nav{
        
        border: none;
        margin: auto;
        width: 57.79vw;
        height: 13.3vw;
        font-size: 4.25vw;
        box-shadow:0.5vw 0.5vw 1.25vw $boxShadowNavBtn;
        background: $btnGrdBckColor;
        /*transition:0.7s ease-in-out;*/
        transition: transform 1000ms ease-in-out, opacity 700ms; 
        border-radius: 10vw;
        
    }                  
        .btn-link{
            
            text-decoration: none;
            color:$BtnLinkNav;
        }   
            
        .btn-nav:hover{
           /* width: 58.29vw; 
            line-height:13.80vw; 
            font-size:4.30vw;   
            box-shadow:1.75vw 1.75vw 2vw #7d7d7d;*/
            background: $btnGrdBckColor;
            opacity: 0.7;
           
            transform: scale(1.2);
            box-shadow:0.95vw 0.95vw 1.95vw $boxShadowBtnNavHover;
          
        }
        .slide-point{
	
            position: absolute;
             margin-left: 80vw;
            transform: translate(0vw);
           transition: transform 1500ms;
           transition-timing-function: ease-in-out;
           width: 15vw;
           height: 19.73vw;
           background-color:white;
           font-family:'Roboto';
           padding-left: 2vw;
           p{
               font-weight: bold;
               padding-top: 11vw;
               margin-left: -3.63vw;
           }
           
           
           
           
           
       }
       
       .slide-check{
            position: relative;
            margin-left: 92.93vw;
            width: 15.76vw;
           height: 20vw;
           line-height: 20vw;
           transition: transform 1500ms;
           transition-timing-function: ease-in-out;
           
           justify-content: center;
           
           background-color: #99e2d0;
       
       
           
           
       }
       
       .slide-tarif{
           position: absolute;
             margin-left: 0vw;
            
            display:flex;
            transition: transform 100ms;
           transition-timing-function: ease-in-out;
           width:80vw;
           height: 19.73vw;
           transform: scale(1);
          /* background-color: blue;*/
           opacity: 0.6;
           justify-content: flex-end;
           
       
       }
       
       .box-slide-up{
        position: absolute;
        margin-left:80vw;
       
      
       transition: transform 100ms;
      transition-timing-function: ease-in-out;
      width:15vw;
      height: 9.865vw;
      
      background-color:white;
      opacity:1;
      p{
        
        padding-top:3.3vw;
        font-size: 5vw;
        
            display: block;
            text-align: left;
            
      
           
        
        
    }
      
           
           
       
       }
       .box-slide-down{
        position: absolute;
        margin-left:80vw;
       
      
       transition: transform 100ms;
      transition-timing-function: ease-in-out;
      width:20vw;
      height: 9.865vw;
     
      transform:translate(0,10vw);
      background-color:white;
      opacity: 1;
      p{
        
          padding-top:0.3vw;
         
          font-size: 4.75vw;
          
              display: block;
              text-align: left;
      }
    
      
           
           
       
       }
     /*  .slide-move{
           
           background: none;
           width: 85vw;
           height: 19.73vw;
       }*/
       
       .slide{
           position:absolute;
           width: 92.93vw;
           height: 19.73vw;
           
          
           transition: transform 700ms;
           transition-timing-function: ease-in-out;
           
       }
       
       .slide:hover {
           
           /*animation: slide-left 2s ease-in-out alternate forwards;*/
           
           transform:translate(-15.76vw);
           transition: transform 700ms;
         transition-timing-function: ease-in-out;
       
       
           
       
       
           
       }


       .slide:hover> .box-slide-up{
           
           transform: translate(-14vw);
            transition: transform 100ms ease-in-out;
           font-size: 10vw;
            transition-delay:0.33s;
       
           /* animation: slide-p forwards;
            animation-delay: 0.3s;*/
       }

       .slide:hover> .box-slide-down{
           
        transform: translate(-14vw,9.865vw);
         transition: transform 100ms ease-in-out;
        
         transition-delay:0.33s;
    
        /* animation: slide-p forwards;
         animation-delay: 0.3s;*/
    }

       .check-move{
           
          
           height: 20vw;
           align-content: center;
           justify-content: center;
       }

     



.check-move .fa-check-circle{
    position: relative;
   
    rotate: (0deg);
    transform-origin: 50% 50%;
	color:white;
    z-index: 1;
    font-size: 6vw;
	

	
}

.slide:hover > .slide-check .fa-check-circle{
   	animation: rotation 1200ms;
    
    
    
}


@keyframes rotation{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg)
	}




}


             
     
    /*fin du bonton .btn-nav*/
    
    /* début de la partie fonctionnenment*/
    .fonctionnement{
        position: absolute;
        width: 91.03vw;
        height: 104.738vw;
        margin: auto;
        
       

        h2{
            margin-top: 12.75vw;
            font-size: 6.45vw;
            margin-bottom:6.27vw;
        }
    } 

        .box{
          
            display: flex;
            flex-direction: column;
            
        }

        section{
           
            width: 100vw;
            margin: auto;
            
            .titreMenu{
                margin-left:5vw;
                width: 12.5vw;
                border-bottom: 1vw solid #99e2d0;
                font-size: 5vw;
                color: black;
                font-weight: normal;
                padding-bottom: 1vw;
                margin-bottom: 3vw;

            }

          
        }
            .btn {
                position: relative;
                display: flex;
                flex-direction: row;
                border: none;
                margin-left: auto;
                margin-right: auto;
                width:92.93vw;
                height: 19.73vw;
                align-items: center;
                overflow: hidden;
                
               
                
                margin-bottom: 6.27vw;
                font-size: 4.25vw;
                box-shadow:0.5vw 0.5vw 1.25vw $boxShadowNavBtn;
                background-color:white;
             
                transition:0.7s ease-in-out 0.07s;
                border-radius: 3.5vw;

               

                .caption{
                    position: absolute;
                   display: flex;
                   flex-direction: column;
                 
                   justify-content: space-evenly;
                    
                   font-family:'Roboto';
                   
                    width: 95vw;
                    height: 19.73vw;
                    transform: translate(0vw, 0);

                    h4{
                        padding-top: 2vw;
                        padding-left: 2.71vw;
                        display: block;
                        text-align: left;
                       
                        font-size: 4.6vw;
                     }
                     p{
                         display: block;
                         text-align: left;
                         padding-bottom: 2vw;
                         padding-left: 2.71vw;
                         font-weight: normal;
                         font-size: 3.75vw;
                     }
                }

                .slide-point {
                    p{
                        display: block;
                        text-align: left;
                        padding-bottom: 2vw;
                        padding-left: 2.71vw;
                        font-size: 4vw;
                    }
                }
                .captionCheck{

                    
                    
                   
                   
                     
                  
                    
                     width: 35vw;
                     height: 19.73vw;
                     transform: translate(60vw, 0)

                }

                .btn-link{
                    color: black;
                    font-weight: 500;
                }
                
              /*  i{
                    
                    font-size: 6.25vw;
                    padding-right: 6.27vw;
                    color: $iconBtnLink;
                  }*/

              

            }  
            .chiffre{
                font-family:'roboto';
                justify-content: center;
                color: white;
                width: 8vw;
                height: 8vw;
                line-height: 8vw;
                background-color: #9356dc;
                border-radius:50%;
                margin-right: 6vw;
                margin-left: -13vw;
            } 
        
            
    
            
    main{
        border-top-left-radius:12vw ;
        border-top-right-radius: 12vw;
        
        z-index: 1;
        margin-top:-33.25vw;
        width:100vw;
        height: 331.86vw;
        background:$mainBckColor;
        display: flex;
        flex-direction: column;
        padding-bottom: 16vw;
        justify-content: space-around;

        h1{
            display: flex;
            margin-top: 10vw;
            padding-left:0vw;
            font-family: 'Shrikhand';
            justify-content: space-evenly;
        }
        
           
        h2{
            padding-top: 10vw;
            
            width: 88.98vw;
            font-size: 6.5vw;
            margin: auto;

           
        }

               
    }

    .item{
        width:88.98vw;
        height:66.94vw;
        overflow: hidden;
        border: 0.5vw solid $itemBorder;
        background: $itemBck;
        border-radius: 5vw;
        margin: auto;

        .nouveau{
            position: absolute;
            width: 21.5vw;
            height: 7.5vw;
            z-index: 1;
            font-size: 3.7vw;
            background: #99e2d0;
            color: #008766;
            text-shadow: #4cb49b;
            border-radius: 0.5vw;
            text-align: center;
            line-height: 7.5vw;
            transform: translate(64.5vw,4vw);
        }

        

        .heart{
            
            position: absolute;
            overflow: hidden;
            font-weight: normal;
            font-size: 6.7vw;
           
            transform: translate(72.25vw, -11vw);

            .fa-heart{
                
                 color: red;
            }

            #select1:checked ~ .fa-heart{
               
               color:green;
               
            }

                        
                         
            
        }
         .heart2{
            position: absolute;
            font-weight: normal;
            transform: translate(72.08vw, -10.75vw);
            

            .fa-heart{
            background-clip:text;
            background:linear-gradient(to bottom right,#FF79DA,#9356DC);
            -webkit-background-clip:text;
            -webkit-text-fill-color: transparent;
            font-size: 7vw;
            opacity:0;
            scale: 1;
            transition: opacity 150ms, scale 200ms ease-in-out; 

              /*&:hover{
                scale:1;
                opacity: 0;
                z-index: 1;
                transition: all 100ms ease-in-out; 
            }*/
            &:active{
                scale:1.03;
                opacity:1;
                z-index: 1;
              }
            
                      
        }

                      
        }

       
        
        
      
/*
        img{
            border-top-left-radius: 5vw;
            border-top-right-radius: 5vw;
            width:100%;
            height:61.61vw ;
            object-fit:cover;
            transform: translate(0%,-15vw);
          
           
        }
        .caption{
            width: 100.1%;
            height:20.33vw;
            color:$captionColor;
           
            
            border-bottom-left-radius: 5vw;
            border-bottom-right-radius: 5vw;
            padding-top: 3.25vw;
            
        h4{
            font-size: 5vw;
            margin-left: -5vw;
            
        }   
        p{
            padding-top: 1vw;
            font-size: 4.5vw;
            justify-content: left;
            
        }
    
        } */

    }

    footer{
        width: 100vw;
        height: 51.69vw;
        
        color: $footerColor;
        background: $footerBck;
        
        
        
        h3{
            padding-top: 5vw;
            width: 90vw;
            margin: auto;
            font-family:'Shrikhand';
            font-size: 5vw;
            padding-bottom: 5vw;
        }

        ul{
            font-size: 4.5vw;
            width: 90vw;
            margin: auto;
        }

        li{
            list-style-type: none;
            padding-bottom: 2vw;
        }
       
        .fa-utensils{
            position: relative;
            padding-right: 3vw;
            top:-0.3vw;
            font-size: 3.75vw;
        }
        .fa-hands-helping{
            position: relative;
            top: -0.3vw;
            font-size: 3vw;
            padding-right: 2.25vw;
        }
    }